body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.solar-system {
    position: relative;
    width: 500px;
    height: 500px;
}

.sun {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background-color: yellow;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.planet {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform-origin: 50% 50%;  /* Set the rotation point at the center of the planet */
}
@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.linkedin-button {
    display: inline-block;
    background-color: #0077b5;
    color: white;
    padding: 15px 25px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

.linkedin-button:hover {
    background-color: #005e93;
}
